XCOMM $XConsortium: bsdLib.tmpl,v 1.1 94/03/29 15:34:46 gildea Exp kaleb $

/*
 * NetBSD/FreeBSD shared library template
 */

#ifndef SharedXtReqs
#define SharedXtReqs /**/
#endif
#ifndef SharedXawReqs
#define SharedXawReqs /**/
#endif
#ifndef SharedXmuReqs
#define SharedXmuReqs $(LDPRELIB) $(XTOOLONLYLIB) $(XONLYLIB)
#endif
