XCOMM $XConsortium: Fresco.tmpl,v 1.3 94/03/25 19:50:52 matt Exp $
XCOMM
XCOMM Definitions for using Fresco library
XCOMM

        DEPLIBS = FrescoClientDepLibs
LOCAL_LIBRARIES = FrescoClientLibs
   EXTENSIONLIB =

#include <Threads.tmpl>

#define CplusplusSource

NormalCplusplusObjectRule()
