XCOMM $XConsortium: ibmLib.tmpl,v 1.10 93/08/20 10:41:36 mor Exp $

/*
 * AIX shared library template
 */

#define SharedXextReqs $(XLIBONLY)
#define SharedXmuReqs $(XTOOLLIB) $(XLIB)
#define SharedOldXReqs $(XLIBONLY)
#define SharedXtReqs $(XLIBONLY)
#define SharedXawReqs $(XMULIB) $(XTOOLLIB) $(XLIB)
#define SharedXinputReqs $(XLIB)
#define SharedXTestReqs $(XLIB)
#define SharedPexReqs $(XLIBONLY)
#define SharedXieReqs $(XLIBONLY)
#define SharedSMReqs $(ICELIB)

#ifndef FixupLibReferences
#define FixupLibReferences()						@@\
DEPXTOOLLIB = _UseCat($(USRLIBDIR),$(TOOLKITSRC),/libXt.a)
#endif
