XCOMM $XConsortium: ibmLib.tmpl,v 1.9 93/07/14 10:59:46 rws Exp $

/*
 * AIX shared library template
 */

#define SharedXextReqs $(XLIBONLY)
#define SharedXmuReqs $(XTOOLLIB) $(XLIB)
#define SharedOldXReqs $(XLIBONLY)
#define SharedXtReqs $(XLIBONLY)
#define SharedXawReqs $(XMULIB) $(XTOOLLIB) $(XLIB)
#define SharedXinputReqs $(XLIB)
#define SharedXTestReqs $(XLIB)
#define SharedPexReqs $(XLIBONLY)
#define SharedXieReqs $(XLIBONLY)

#ifndef FixupLibReferences
#define FixupLibReferences()						@@\
DEPXTOOLLIB = _UseCat($(USRLIBDIR),$(TOOLKITSRC),/libXt.a)
#endif
