XCOMM $XConsortium: ibmLib.tmpl,v 1.8 93/07/13 17:43:09 mor Exp $

/*
 * AIX shared library template
 */

#define SharedXextReqs $(XLIBONLY)
#define SharedXmuReqs $(XTOOLLIB) $(XLIB)
#define SharedOldXReqs $(XLIBONLY)
#define SharedXtReqs $(XLIBONLY)
#define SharedXawReqs $(XMULIB) $(XTOOLLIB) $(XLIB)
#define SharedXinputReqs $(XLIB)
#define SharedXTestReqs $(XLIB)
#define SharedPexReqs $(XLIBONLY)
#define SharedXieReqs $(XLIBONLY)

#ifndef FixupLibReferences
#define FixupLibReferences()						@@\
DEPXTOOLLIB = _UseCat($(USRLIBDIR),$(TOOLKITSRC),/libXt.a)
#endif
