XCOMM $XConsortium: lnxLib.tmpl,v 1.2 94/07/08 12:05:37 gildea Exp kaleb $

XCOMM Linux shared library template

#ifndef FixupLibReferences
#define FixupLibReferences()						@@\
XMULIB = -L$(XMUSRC) -lXmu $(XLIB)
#endif
