XCOMM $XConsortium: osfLib.tmpl,v 1.12 93/09/03 11:57:08 mor Exp $

/*
 * OSF/1 shared library template
 */

#define SharedOldXReqs $(LDPRELIB) $(XLIBONLY)
#define SharedXtReqs $(LDPRELIB) $(XLIBONLY)
#define SharedXawReqs $(LDPRELIB) $(XMULIB) $(XTOOLLIB) $(XLIB) -init _XawFixupVendorShell
#define SharedXmuReqs $(LDPRELIB) $(XTOOLLIB) $(XLIB)
#define SharedXextReqs $(LDPRELIB) $(XLIBONLY)
#define SharedXinputReqs $(LDPRELIB) $(XLIB)
#define SharedPexReqs $(LDPRELIB) $(XLIBONLY) MathLibrary
#define SharedXieReqs $(LDPRELIB) $(XLIBONLY)
#define SharedSMReqs $(LDPRELIB) $(ICELIB)
