XCOMM $XConsortium: osfLib.tmpl,v 1.9 93/08/23 19:46:49 rws Exp $

/*
 * OSF/1 shared library template
 */

#define SharedOldXReqs $(XLIBONLY)
#define SharedXtReqs $(XLIBONLY)
#define SharedXawReqs $(XMULIB) $(XTOOLLIB) $(XLIB) -init _XawFixupVendorShell
#define SharedXmuReqs $(XTOOLLIB) $(XLIB)
#define SharedXextReqs $(XLIBONLY)
#define SharedXinputReqs $(XLIB)
#define SharedPexReqs $(XLIBONLY) -lm
#define SharedXieReqs $(XLIBONLY)
