XCOMM $XConsortium: osfLib.tmpl,v 1.10 93/08/25 15:26:32 rws Exp $

/*
 * OSF/1 shared library template
 */

#define SharedOldXReqs $(XLIBONLY)
#define SharedXtReqs $(XLIBONLY)
#define SharedXawReqs $(XMULIB) $(XTOOLLIB) $(XLIB) -init _XawFixupVendorShell
#define SharedXmuReqs $(XTOOLLIB) $(XLIB)
#define SharedXextReqs $(XLIBONLY)
#define SharedXinputReqs $(XLIB)
#define SharedPexReqs $(XLIBONLY) MathLibrary
#define SharedXieReqs $(XLIBONLY)
