XCOMM $XConsortium: sunLib.tmpl,v 1.30 94/02/02 11:38:04 gildea Exp $

/*
 * SunOS shared library template
 */

#ifndef SharedX11Rev
#define SharedX11Rev 4.10
#endif
#ifndef SharedOldXRev
#define SharedOldXRev 4.10
#endif
#ifndef SharedXmuRev
#define SharedXmuRev 4.10
#endif
#if SunPost411FCSLd
#define SharedXmuReqs $(LDPRELIB) $(XTOOLLIB) $(XLIB)
#endif
#ifndef SharedXextRev
#define SharedXextRev 4.10
#endif
#ifndef SharedXiRev
#define SharedXiRev 4.10
#endif
