XCOMM $XConsortium: sunLib.tmpl,v 1.23 93/08/23 19:46:51 rws Exp $

/*
 * SunOS shared library template
 */

#ifndef SharedXlibRev
#define SharedXlibRev 4.10
#endif
#ifndef SharedOldXRev
#define SharedOldXRev 4.10
#endif
#ifndef SharedXtRev
#define SharedXtRev 4.10
#endif
#ifndef SharedXmuRev
#define SharedXmuRev 4.10
#endif
#if SunPost411FCSLd
#if NormalLibXmu
#define SharedXmuReqs -L../$(TOOLKITSRC) -lXt -L../$(EXTENSIONSRC)/lib -lXext -L../$(XLIBSRC) -lX11
#else
#define SharedXmuReqs $(XTOOLLIB) $(XLIB)
#endif
#endif
#ifndef SharedXextRev
#define SharedXextRev 4.10
#endif
#ifndef SharedXinputRev
#define SharedXinputRev 4.10
#endif

/* Sun shared libraries are deficient in link semantics */
       XMULIBONLY = _Use(-lXmu,-L$(XMUSRC) -lXmu)
#ifndef UseInstalled
#ifndef FixupLibReferences
#define FixupLibReferences()						@@\
XMULIB = $(XMULIBONLY) -L$(TOOLKITSRC) -L$(EXTENSIONSRC)/lib -L$(XLIBSRC)
#endif
#ifndef XawClientLibs
#define XawClientLibs $(XAWLIB) $(XMULIBONLY) $(XTOOLLIB) $(XLIB)
#endif
#endif
